<div class="container">
  <div class="input-group">
    <span class="input-group-text" id="basic-addon1">Enter your Name: </span>
    <input
      type="text"
      [(ngModel)]="name"
      class="form-control"
      placeholder="Username"
      aria-label="Username"
      aria-describedby="basic-addon1"
    />
    <button class="btn btn-outline-secondary" type="button" id="button-addon1">
      Button
    </button>
  </div>

  <hr />
  <h1>Welcome to Agular Exercise 1 {{ name }}!</h1>

  <p>
    Instructions: Using the Terminal, create a new project titled
    "exercise_class-one".In the "app.component.html" file, add an h1 element and
    a paragraph element. Add content in both elements. Create a variable in the
    "app.component.ts" file `name: sting = "William". (Use your own name).
    Display this variable inside the h1 element we created earlier.Push your
    angular project to GitHub using GitHub Desktop.
  </p>
</div>
